body {	
	font-family: 'Baloo Bhaina', cursive;
	background-color: #FFD700;
}

#subhead{
	color: white;
	font-family: 'Baloo Bhaina', cursive;
	margin-left: 1320px;
	font-size:20px;
}
#title {
	color: white;
	font-family: 'Baloo Bhaina', cursive;
	text-align: left;
	font-size:70px;
	top:150px;
	left:250px;
	position:absolute;

}

#title2 {
	color: white;
	font-family: 'Baloo Bhaina', cursive;
	text-align: left;
	font-size:70px;
	top:200px;
	left:250px;
	position:absolute;
}

#title3 {
	color: black;
	font-family: 'Baloo Bhaina', cursive;
	text-align: left;
	font-size:70px;
	top:280px;
	left:250px;
	position:absolute;
}

#title4 {
	color: black	;
	font-family: 'Baloo Bhaina', cursive;
	text-align: left;
	font-size:70px;
	top:330px;
	left:250px;
	position:absolute;
}

#p1 {
	top:220px;
	width:500px;
	left:1150px;
	position: absolute;
}

#p2 {
	margin-top:20px;
	width:120px;
	margin-left: -138px;
	position: absolute;
}

#whitecube {
width:150px;
margin-left: -8px;
}

#diagram {
	width: 800px;
	margin: 150px auto 0px;
	height: calc(100vh - 150px);
}

#diagram img {
	display: inline-block; 
	vertical-align: middle; 
	transform: scale(.8);
	margin-top:-300px;

	/* apply animations to elements */

	animation-name: flipInX;
	animation-duration: 7s;
	animation-iteration-count:infinite;

	/* set opacity to 0 by default */
	opacity: 1;
}

#background {
	width: 1300px;
	margin: 150px auto 0px;
	height: calc(100vh - 150px);
	position: relative;
}

#background img {
	display: inline-block; 
	vertical-align: middle; 
	transform: scale(.8);

	/* apply animations to elements */

	animation-name: fadeIn	;
	animation-duration: 3s;
	animation-iteration-count:infinite;

	/* set opacity to 0 by default */
	opacity: 1;

}

#p1 {
	animation-delay: 500ms;	
}

#katalk1 {
	animation-delay: 750ms;	
}

#katalk2 {
	animation-delay: 100ms;	
}

#katalk3 {
	animation-delay: 1250ms;	
}

#katalk4 {
	animation-delay: 1500ms;	
}

#katalk5 {
	animation-delay: 1750ms;	
}


#katalkB1 {
	animation-delay: 75ms;
	position: absolute;	
}

#katalkB2 {
	border: 1px solid blue;
	animation-delay: 250ms;

}

#katalkB3 {
	border: 1px solid blue;
	animation-delay: 250ms;

	position: absolute;
	top: 100px;
	left: 100px;
	
}

#shake {
    width: 800px;
    margin: 150px auto 0px;
    height: calc(100vh - 150px);
    position: absolute;
    top: -100px;
}

#shake img {
    display: inline-block; 
    vertical-align: middle; 
    transform: scale(.8);

    /* apply animations to elements */

    animation-name: shake;
    animation-duration: 2s;
    animation-iteration-count:infinite;

    /* set opacity to 0 by default */
    opacity: 1;
}


@keyframes fadein {
	0% {
		opacity:0;
		transform: translateY(40px);
	}

	70% {
		opacity: 1;
		transform: translateY(0px);
	}

	95% {
		opacity:1;
		transform: translateY(0px);		
	}

	100% {
		opacity:0;
		transform: translateY(20px);		
	}

}
